@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap");

:root {
  /* THEME ONE */
  /* BACKGROUNDS */
  /* main background */
  --vd-d-blue: #3a4764;
  /* toggle / keypad background */
  --vd-d-bluee: #232c43;
  /* screen background */
  --vd-d-blueee: #182034;

  /* KEYS */
  /* key background */
  --dd-blue: #637097;
  /* key shadow */
  --d-d-blue: #404e72;
  /* key background, toggle */
  --red: #d03f2f;
  /* key shadow */
  --d-red: #93261a;
  /* key background */
  --l-g-orange: #eae3dc;
  /* key shadow */
  --g-orange: #b4a597;

  /* TEXT */
  --vd-gblue: #444b5a;
  --white-text: #ffffff;

  /* THEME TWO */
  /* BACKGROUNDS */
  /* main background */
  --l-gray: #e6e6e6;
  /* toggle / keypad background */
  --g-red: #d1cccc;
  /* screen background */
  --v-lgray: #ededed;

  /* KEYS */
  /* key background */
  --d-mcyan: #377f86;
  /* key shadow */
  --v-dcyan: #1b5f65;
  /* key background, toggle */
  --orange: #ca5502;
  /* key shadow */
  --d-orange: #893901;
  /* key background */
  --l-gyellow: #e5e4e1;
  /* key shadow */
  --d-gorange: #a69d91;

  /* TEXT */
  --vd-gyellow: #35352c;
  /* --white: hsl(0, 0, 100%); */

  /* THEME THREE */
  /* BACKGROUNDS */
  /* main background */
  --vd-violet: #160628;
  /* toggle background, keypad background, screen background */
  --vd-violett: #1d0934;

  /* KEYS */
  /* key background */
  --dviolet: #58077d;
  /* key shadow */
  --v-magenta: #bc15f4;
  /* key background, toggle */
  --p-cyan: #00e0d1;
  /* key shadow */
  --s-cyan: #6cf9f2;
  /* key background */
  --vd-violet: #341c4f;
  /* key shadow */
  --d-magenta: #871c9c;

  /* TEXT */
  --l-yellow: #ffe53d;
  --vd-blue: #1b2428;
  /* --white: hsl(0, 0, 100%); */

  --reg-fs: 32px;
}

.blue-theme {
  --background-main: var(--vd-d-blue);
  --background-toggle-keyboard: var(--vd-d-bluee);
  --background-screen: var(--vd-d-blueee);

  --key-toggle-color: var(--red);
  --spec-key-color: var(--dd-blue);
  --spec-key-shadow: var(--d-d-blue);

  --normal-key-color: var(--l-g-orange);
  --normal-key-shadow: var(--g-orange);

  --spec-keys-color: var(--white-text);
  --equal-button-color: var(--white-text);
  --normal-keys-color: var(--vd-gblue);
  --result-color: var(--white-text);
}

.white-theme {
  --background-main: var(--l-gray);
  --background-toggle-keyboard: var(--g-red);
  --background-screen: var(--v-lgray);

  --key-toggle-color: var(--d-mcyan);
  --spec-key-color: var(--d-mcyan);
  --spec-key-shadow: var(--v-dcyan);

  --normal-key-color: var(--l-gyellow);
  --normal-key-shadow: var(--d-gorange);

  --spec-keys-color: var(--vd-gyellow);
  --equal-button-color: var(--vd-gyellow);
  --normal-keys-color: var(--vd-gyellow);
  --result-color: var(--vd-gyellow);
}

.violet-theme {
  --background-main: var(--vd-violet);
  --background-toggle-keyboard: var(--vd-violett);
  --background-screen: var(--vd-violett);

  --key-toggle-color: var(--p-cyan);
  --spec-key-color: var(--dviolet);
  --spec-key-shadow: var(--v-magenta);

  --normal-key-color: var(--vd-violet);
  --normal-key-shadow: var(--d-magenta);

  --spec-keys-color: var(--l-yellow);
  --equal-button-color: var(--vd-blue);
  --normal-keys-color: var(--white);
  --result-color: var(--l-yellow);
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Spartan";
  background-color: var(--background-main);
}

.core {
  margin: 70px auto;
  width: 543px;
}

.core .head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0;
}

.core .head span {
  color: var(--result-color);
}
.core .head span:first-of-type {
  font-size: var(--reg-fs);
}

.core .result-screen {
  color: var(--result-color);
  padding: 45px;
  text-align: right;
  font-size: var(--reg-fs);
  background-color: var(--background-screen);
  border-radius: 10px;
  margin-bottom: 30px;
}

.core .keys-cont {
  background-color: var(--background-toggle-keyboard);
  padding: 33px;
  border-radius: 10px;
}
